::-webkit-scrollbar {
	width: 0;
}
body {
	margin: 0;
	font-family: "Roboto", sans-serif;

	font-size: 16pt;
	line-height: 1.5;
	color: rgb(14, 8, 8);
}

* {
	box-sizing: border-box;
}

.back {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
}
.container {
	height: 100%;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.main-block {
	display: flex;
	width: 100%;
}

.side-panel {
	width: 30%;
	color: #eeeeee;
	background: linear-gradient(90deg, #ffffff, #000000);
}

.photo {
	display: block;
	margin: 15% auto;
	width: 60%;
	border-radius: 50%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.photo:hover {
	width: 70%;
}

.margin-main {
	margin-left: 20%;
}

/* Section for left block */
.section-LB {
	color: rgb(66, 66, 66);
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 1%;
	text-decoration: underline;
}

.margin {
	color: rgb(66, 66, 66);
	margin-left: 15%;
}

.link {
	color: rgb(66, 66, 66);
	text-decoration: none;
}

.link:hover {
	color: #000000;
	text-decoration: underline;
}

.main-content {
	width: 70%;
	color: #333;
	background: #eeeeee;
}

header {
	font-size: 20px;
	margin-top: 15%;
	text-align: center;
}

/* Section for right block */
.section-RB {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	text-align: center;
	text-indent: 1em;
}

h2 {
	font-size: 40px;
	margin-top: 15%;
	text-align: center;
}

footer {
	display: flex;
	padding: 60px 40px;
	justify-content: space-around;
	align-content: center;
	background: linear-gradient(90deg, #ffffff, #000000);
	color: #eeeeee;
}

.rs-logo {
	display: flex;
	height: 120px;
	width: 120px;
	background: url(files/rs_school_js.svg) no-repeat;
	background-size: contain;
}

.rs-logo:hover {
	width: 125px;
	height: 125px;
}
